
  .hero {
    position: relative;
    background: url('images/hero-bg.jpg');
    height: 100vh;
  }

  .hero .content {
    position: relative;
    z-index: 2; /* passe au-dessus du voile */
  }

  .title-underline {
    width: 500px;
    height: 4px;
    background: #0d6efd;
    margin: 10px 0 20px 0;
  }
  .title-underline2 {
   width: 400px;
   height: 4px;
   background: #0d6efd;
   margin: 10px 0 30px 0;
  }

    img {
            width: 1520px;
            height: 300px;
        }

        .hero-services {
            min-height: 150px;
         }


        .service-box {
            border: 1px solid #ddd;
            padding: 30px;
            border-radius: 8px;
            transition: all 0.3 ease;
            background: #fff;
        }

        .service-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        }

        .tech-box {
         background-color: #f8f9fa;
         border-top: 1px solid #dee2e6;
         text-align: center;
         padding: 10px;
         font-size: 0.9rem;
        }

        #contact h4 {
         font-size: 2rem;
        }

        #contact .form-control {
         border-radius: 0.25rem;
        }

        #contact button {
         border-radius: 5px;
         font-weight: 500;
        }

        
        #contact .p-4 {
         min-height: 100%;
        }

        .custom-card {
         background-color: #efefef;
         border-radius: 8px;
         transition: box-shadow 0.3s ease, transform 0.3s ease;
         cursor: pointer;
        }

        .custom-card:hover {
         box-shadow: 0 4px 15px rgba(0,0,0,0.2);
         transform: translateY(-2px);
        }

       footer {
            background: #222;
            color: #ddd;
            padding: 40px 0;
         }

       footer a {
            color: #bbb;
            text-decoration: none;
         }

       footer a:hover {
            color: white;
         }